<div class="main-signup">
  <%= render "items/header" %>
  <div class="main-box">

   <div class="main-box__header">新規会員登録</div>

   <div class="main-box__contents">
      <%= link_to "", class: "mail" do %>
        メールアドレスで登録
      <% end %>
      <%= link_to "", class: "facebook" do %>
        Facebookで登録
      <% end %>
      <%= link_to "", class: "google" do %>
        Googleで登録
      <% end %>

      <%= link_to "/users/sign_in", class: "main-box__contents__text" do %>
        ログイン画面に戻る
      <% end %>
      
   </div>


  </div>
  <%= render "items/footer" %>
</div>
