.main-signup_2
  = render partial: 'items/header'
  .main-box
    .main-box__header
      会員情報入力
    .main__container__form
    = form_for @user, url: step3_signup_index_path, method: :get, class: 'main__container__form' do |f|
      .main__container__form__content-top

        -# ニックネーム入力欄
        .main__container__form__content-top__box
          .main__container__form__content-top__box__label
            ニックネーム
          .main__container__form__content-top__box__require
            必須
          = f.text_field :nickname, type: "text", placeholder:"例)フリマ太郎", class: "main__container__form__content-top__box__text"

        -# メールアドレス入力欄
        .main__container__form__content-top__box
          .main__container__form__content-top__box__label
            メールアドレス
          .main__container__form__content-top__box__require
            必須
          = f.text_field :email, type: "text", placeholder:"PC・携帯どちらでも可", class: "main__container__form__content-top__box__text"

        -# パスワード入力欄
        .main__container__form__content-top__box.password_box
          .main__container__form__content-top__box__label
            パスワード
          .main__container__form__content-top__box__require
            必須
          = f.text_field :encrypted_password, type: "text", placeholder:"７文字以上の半角英数字", class: "main__container__form__content-top__box__text"
          .main__container__form__content-top__box__info
            ※英字と数字の両方を含めて設定してください
          .main__container__form__content-top__box__check
            %input#chkbox{type: "checkbox", class: "main__container__form__content-top__box__check__box"}
            %label{for: "chkbox", class: "main__container__form__content-top__box__check__label"} パスワードを表示する
          
        -# 本人確認入力欄
        .main__container__form__content-top__identity
          .main__container__form__content-top__identity__head
            本人確認
          .main__container__form__content-top__identity__main
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          
        -# お名前（全角）入力欄
        .main__container__form__content-top__box
          .main__container__form__content-top__box__label
            お名前(全角)
          .main__container__form__content-top__box__require
            必須
          .main__container__form__content-top__box__name
            = f.text_field :family_name, type: "text", placeholder:"例)山田", class: "main__container__form__content-top__box__name__kanji"
            = f.text_field :first_name, type: "text", placeholder:"例)太郎", class: "main__container__form__content-top__box__name__kanji"

        -# お名前カナ（全角）入力欄
        .main__container__form__content-top__box
          .main__container__form__content-top__box__label
            お名カナ(全角)
          .main__container__form__content-top__box__require
            必須
          .main__container__form__content-top__box__name
            = f.text_field :family_name_kana, type: "text", placeholder:"例)ヤマダ", class: "main__container__form__content-top__box__name__kanji"
            = f.text_field :first_name_kana, type: "text", placeholder:"例)タロウ", class: "main__container__form__content-top__box__name__kanji"

        -# 生年月日入力欄
        .main__container__form__content-top__birth
          .main__container__form__content-top__birth__label
            生年月日
          .main__container__form__content-top__birth__require
            必須
          .main__container__form__content-top__birth__area
            .main__container__form__content-top__birth__area__yymmdd
              = f.collection_select :birth_yy, Birth_year.all, :id, :name
              年
            .main__container__form__content-top__birth__area__yymmdd
              = f.collection_select :birth_mm, Birth_month.all, :id, :name
              月
            .main__container__form__content-top__birth__area__yymmdd
              = f.collection_select :birth_dd, Birth_day.all, :id, :name
              日
          
          -# 本人情報
          .main__container__form__content-top__birth__text
            ※本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合がございます。

        -# 次に進む（エリア）
        .main__container__form__content-top__info
          .main__container__form__content-top__info__text
            「次へ進む」のボタンを押すことにより、
            = link_to "利用規約","#"
            に同意したものとします
          .main__container__form__content-top__info__btn
            = f.submit "次へ進む" ,class: "main__container__form__content-top__info__btn__red" 
          .main__container__form__content-top__info__about
            = link_to "本人情報の登録について ","#"
            = icon('fa', 'angle-right',class:'icon')
          .main__container__form__content-top__info__label
            This site is protected by reCAPTCHA and the Google
            = link_to " Privacy Policy ", "#", class: "main__container__form__content-top__info__label__policy"
            and
            = link_to " Terms of Service ", "#", class: "main__container__form__content-top__info__label__service"
            apply.

  = render partial: 'items/footer'