.main-signup
  .signup__step1
    = render partial: 'items/header'
  .main-box
    .main-box__header 新規会員登録
    .main-box__contents

      = link_to step2_signup_index_path, class: "mail" do
        = icon('far', 'envelope', class: 'main__content__line__btn--mail__icon')
        メールアドレスで登録する

      = link_to step2_signup_index_path, class: "facebook" do
        = icon('fab', 'facebook-square', class: 'main__content__line__btn--facebook__icon')
        Facebookで登録する

      = link_to step2_signup_index_path, class: "google" do
        = icon('fab', 'google', class: 'main__content__line__btn--google__icon') 
        Googleで登録する

      = link_to new_user_session_path, class: "main-box__contents__text" do
        ログイン画面に戻る
        
  .signup__step1
    = render partial: 'items/footer'