.main-signup_3
  = render partial: 'items/header'
  .main
    .main__container

      -# 電話番号の確認
      .main__container__header
        電話番号の確認

      -# フォーム
      = form_for @user, url: step4_signup_index_path, method: :get, class: 'main__container__form' do |f|

        .main__container__form__input
          .main__container__form__input__title
            携帯電話の番号
          = f.text_field :phone_number, type: "text", placeholder:"携帯電話の番号を入力", class: "main__container__form__input__text"
        
        .main__container__form__info
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

        .main__container__form__btn
          = f.submit "SMSを送信する" ,class: "main__container__form__btn__red" 

        .main__container__form__label
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

        .main__container__form__text
          = link_to "電話番号の確認が必要な理由", "#", class: "main__container__form__text__right"

  = render partial: 'items/footer'