%aside.appBanner
  .inner
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .inner-icon
      = link_to "" do
        = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "220x64"

      = link_to "" do
        = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "220x64"

%footer
  %ul.footer-nav
    %li.footer-nav-list
      %h2.footer-nav-list-title FURIMAについて
      %ul
        %li 
          = link_to "会社概要（運営会社）" 
        %li
          = link_to "プライバシーポリシー" 
        %li
          = link_to "FURIMA利用規約" 
        %li
          = link_to "ポイントに関する規約" 

    %li.footer-nav-list
      %h2.footer-nav-list-title FURIMAをみる
      %ul
        %li 
          = link_to "カテゴリー一覧" 
        %li 
          = link_to "ブランド一覧" 
      
    %li.footer-nav-list
      %h2.footer-nav-list-title ヘルプ&ガイド
      %ul
        %li 
          = link_to "FURIMAガイド" 
        %li 
          = link_to "FURIMAロゴ利用ガイドライン" 
        %li 
          = link_to "お知らせ" 

  .footer-campany
    = link_to "" do
      = image_tag "material/logo/logo-white.png", size: "220x64"
  %p © FURIMA