%footer
  %ul.footer-nav
    %li.footer-nav-list
      %h2.footer-nav-list-title FURIMAについて
      %ul
        %li 
          = link_to "会社概要（運営会社）" 
        %li
          = link_to "プライバシーポリシー" 
        %li
          = link_to "FURIMA利用規約" 
        %li
          = link_to "ポイントに関する規約" 

    %li.footer-nav-list
      %h2.footer-nav-list-title FURIMAをみる
      %ul
        %li 
          = link_to "カテゴリー一覧" 
        %li 
          = link_to "ブランド一覧" 
      
    %li.footer-nav-list
      %h2.footer-nav-list-title ヘルプ&ガイド
      %ul
        %li 
          = link_to "FURIMAガイド" 
        %li 
          = link_to "FURIMAロゴ利用ガイドライン" 
        %li 
          = link_to "お知らせ" 

  .footer-campany
    = link_to "" do
      = image_tag "material/logo/logo-white.png", size: "220x64"
  %p © FURIMA