.product-footer
  .product-footer_center
    %ul
      %li 
        = link_to "プライバシーポリシー" 
      %li 
        = link_to "メルカリ利用規約" 
      %li 
        = link_to "特定商取引に関する表記" 
  .product-footer_logo
    = link_to "特定商取引に関する表記"  do
      = image_tag "material/logo/logo-white.png", size: "220x64"
  .product-footer_text
    %p @Furima