.index__top
  .dindex__top--box
    = link_to root_path, class: "index__top--image" do
      イメージ
.index__category
  %h2.index__category--top
    人気カテゴリー
  .index__category--names
    %ul.index__category--names__box
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          レディース
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          メンズ
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          家電
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          おもちゃ

.index__product
  .index__product--list
    .index__product--list__box
      %h3.index__product--list__box--name
        レディース新着アイテム
      = link_to root_path, class: "items" do
        もっと見る
  .index__product--list__items
    .index__product--list__items--box
      %ul.index__product--list__items--box__a
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
  .index__product--list__items
    .index__product--list__items--box
      %ul.index__product--list__items--box__a
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 

.index__category
  %h2.index__category--top
    人気ブランド
  .index__category--names
    %ul.index__category--names__box
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          レディース
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          メンズ
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          家電
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          おもちゃ
.index__product
  .index__product--list
    .index__product--list__box
      %h3.index__product--list__box--name
        レディース新着アイテム
      = link_to root_path, class: "items" do
        もっと見る
  .index__product--list__items
    .index__product--list__items--box
      %ul.index__product--list__items--box__a
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
.index__category
  %h2.index__category--top
    人気ブランド
  .index__category--names
    %ul.index__category--names__box
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          レディース
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          メンズ
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          家電
      %li.index__category--names__box--a
        = link_to root_path, class: "index__a" do
          おもちゃ
.index__product
  .index__product--list
    .index__product--list__box
      %h3.index__product--list__box--name
        レディース新着アイテム
      = link_to root_path, class: "items" do
        もっと見る
  .index__product--list__items
    .index__product--list__items--box
      %ul.index__product--list__items--box__a
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__i" do
              服
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
        %li.index__product--list__items--box__a--b
          .index__product--list__items--box__a--b__image
            = link_to root_path, class: "index__a" do
              服 
.index__add
  = image_tag src = "https://www.pakutaso.com/shared/img/thumb/cryptocurrency1409_TP_V.jpg", class: "images"
  .index__add__imags
    .index__add__images--app
    .index__add__images--device
