.items__show
  = render partial: 'partial/navbar'
.show__header--contents
  .show__items--name
    %h1
      = "商品名fendi Tシャツ 美品"         
  .show__items--content
    %h2
      = "商品の説明『fendi Tシャツ 美品』は、42回の取引実績を持つじ　んさんから出品されました。フェンディ（Tシャツ/カットソー(半袖/袖なし)/レディース）の商品で、兵庫県から4~7日で発送されます。"             # = @items.text

.show__main--contents
  %img(src = "https://www.chanel.com/wfj/medias/decoupes-1534x1774-CODECOCO.jpg?context=bWFzdGVyfGNtc2ltYWdlc3w4MzYzNTR8aW1hZ2UvanBlZ3xjbXNpbWFnZXMvaGYzL2g1Yi84ODkxMzQ5MjcwNTU4LmpwZ3wyYzhlNjZmODY0NjRlMWEzZTA4MzFlMmM3YWZmNWQyMTJjZDcyOTg2YjQxNzZkMjk0ODE0YTUyZDhjNjk5ODc5" alt = "写真" class = "show_image")    
  
  .show__items--details
    %table.show_items--details__details{border:"1"}
      %tr
        %th
          = "出品者"
        %td                    
          = "出品者(current_user?)"  

      %tr
        %th
          = "カテゴリー"
        %td 
          = "レディース"

      %tr 
        %th 
          = "ブランド"
        %td 
          = "シャネル"

      %tr 
        %th 
          = "商品のサイズ"
        %td 
          = "FREE SIZE"

      %tr 
        %th 
          = "商品の状態"
        %td 
          = "未使用に近い"

      %tr 
        %th 
          = "配送料の負担"
        %td 
          = "送料込み（出品者負担)"

      %tr 
        %th 
          = "配送の方法"
        %td 
          = "未定"

      %tr 
        %th 
          = "配送元地域"
        %td 
          = "兵庫県"

      %tr 
        %th 
          = "発送日の目安"
        %td 
          = "1週間程度"

.show__price
  %span.show__price--price
    = "￥700,000" 
  %span.show__price--included
    = "(税込)"
  %span.show__price--fee
    = "送料込み"

.purchase-screen
  =link_to"購入画面に進む","#",class:"show__btn--name__link" 

%br 
%br 
%br 

                 
.show__comments
  ="ほとんど着てません"
  %br
  ="タグ"
  %br
  ="タグ"
  %br
  ="タグ"

.show__link--prev__next
  .show__link--prev
    %a{href:"#"}
      %i.fa.fa-arrow-left
        エリザベス硬貨
  .show__link--next
    %a{href:"#"}
      ダイヤモンド
      %i.fa.fa-arrow-right

.show__medhia--links
  .show__medhia--links--box
    %a{href:"https://www.facebook.com/"}
      %i.fab.fa-facebook
    %a{href:"https://twitter.com/"}
      %i.fab.fa-twitter
    %a{href:"https://access.line.me/"} 
      %i.fab.fa-line
    %a{href:"https://www.pinterest.jp/"} 
      %i.fab.fa-pinterest-square

.show__users
  ="jinnさんの作品"



.show__users--other
  .show__users--other__item
    .show__users--other__item--image
    .show__users--other__item--contents
      .show__users--other__item--contents__name
        ="ぼったくりプリンだよ"
      .show__users--other__item--contents__price
        ="￥1,000,000,000"
  .show__users--other__item
    .show__users--other__item--image
    .show__users--other__item--contents
      .show__users--other__item--contents__name
        ="ぼったくりプリンだよ"
      .show__users--other__item--contents__price
        ="￥1,000,000,000"
  .show__users--other__item{class:"show__users--other__item--right"}
    .show__users--other__item--image
    .show__users--other__item--contents
      .show__users--other__item--contents__name
        ="ぼったくりプリンだよ"
      .show__users--other__item--contents__price
        ="￥1,000,000,000"
  .show__users--other__item
    .show__users--other__item--image
    .show__users--other__item--contents
      .show__users--other__item--contents__name
        ="ぼったくりプリンだよ"
      .show__users--other__item--contents__price
        ="￥1,000,000,000"
  .show__users--other__item
    .show__users--other__item--image
    .show__users--other__item--contents
      .show__users--other__item--contents__name
        ="ぼったくりプリンだよ"
      .show__users--other__item--contents__price
        ="￥1,000,000,000"
  .show__users--other__item{class:"show__users--other__item--right"}
    .show__users--other__item--image
    .show__users--other__item--contents
      .show__users--other__item--contents__name
        ="ぼったくりプリンだよ"
      .show__users--other__item--contents__price
        ="￥1,000,000,000"                        
                        
.items__show
  = render partial: 'partial/footer'













    
