!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample74b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .nav
        .nav-title
          .nav-title-icon
            = link_to "" do
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"
          .from
            = form_with model: @items, local: true, class:"from-seach" do |f|
              = f.text_field :name, class: 'from-seach-area', placeholder: 'グループ名を入力してください'
              = f.submit :seach, class: "from-seach-submit"
        .nav-link


    = yield
